<!DOCTYPE html>
<html>
<head>
  <title>Books App Show Page</title>
</head>
<body>
  <h2><%= @book.title %></h2>
  <p><%= @book.description %></p>
  <p><%= link_to "Back", books_path%></p>
</body>
</html>

